<div class="row header-row">
	<div class="col-md-4">Knight's tale</div>
	<div class="col-md-12">
	    <div style="font-size: medium;">Select starting and end position to calculate least number of hops a knight to reach end position.<div>
	    <div style="font-size: medium;">Click anywhere on the board to reset after<div>
	</div>

</div>