#main-content {
    position: relative;
    top: 2em;
}
.header-tool {
	font-size: 2.0em;
}
 .large {
    font-size: 5em;
}
 .medium {
    font-size: 1.5em;
}
 .small {
    font-size: .75em;
}
 .center {
    text-align: center;
    display: block;
}
 .header-row {
     background: grey;
 }

 .header-row div {
     font-size: x-large;
     color: white;
 }

* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.chessboard-main {
    padding: 0px;
    margin: 0 auto;
    border: 2px solid #181818;
}

.chessboard-main {
    width: 480px;
}

.chessboard-main tr td {
    width: 60px;
    height: 60px;
}

.chessboard-main tr:nth-child(2n) td:nth-child(2n+1) {
    background: #9f9f9f;
}

.chessboard-main tr:nth-child(2n+1) td:nth-child(2n) {
    background: #9f9f9f;
}

.square.highlight {
    border: 2px solid #19ed9a;
}


